* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
body {
  padding: 1rem;
  text-align: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
header {
  padding: 0.5rem;
  width: 100%;
  color: white;
  background-color: black;
}
  
#restaurant-menu {
  height: 15vh;
  background: rgb(179, 49, 49);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
}
  
#restaurant-menu span {
  padding: 1%;
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  align-items: center;
  border-radius: 2em;
  border: 1px solid white;
}
  
#restaurant-menu span:last-child {
  margin-right: 0;
}

#food-detail {
  position: relative;
}

#image {
  height: 350px;
}
  
#name {
  position: absolute;
  left: 10px;
  padding: 0.25rem 5rem 0.25rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 60px;
}
  
button {
  color: #fff;
  border: none;
  background-color: #e07b53;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1rem;
  padding: 0.78571em 1.5em;
  margin: 0 0.25em 0 0;
  width: 100%;
  box-shadow: 0 0 0 0 rgba(39,41,43,.15)inset;
  text-shadow: none;
  min-height: 1em;
  outline: 0;
  vertical-align: baseline;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  border-radius: 0.2857rem;
  box-shadow: 0 0 0 1px transparent inset,0 0 0 0 rgba(39,41,43,.15)inset;
}
  
button:active {
  background-color: gray;
}

form {
  display:flex;
  height: 30px;
}

form h4 {
  width: 100%;
  padding: 0.25rem;
  margin: 0.5rem 0;
  color: white;
  background-color: black;
}

input[type=submit] {
  border:0px;
  background:white;
  font-size: 1em;
  border: 1px solid black;
  margin-left: 10px;
  border-radius: 10px;
}

input[type=text] {
  width: 150px;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 10px;
  padding:10px;
}